@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #2367b5;
    --secondary-color: white;
    --accent-color: #c8e2f9;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 2rem;
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: -15px;
}

h2 {
    margin-bottom: 0;
}

nav a {
    padding: 8px;
    display: block;
}

a:link,
a:visited {
    color: var(--accent-color);
}

h3 {
    color: var(--text-dark);
}

img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 10px solid var(--accent-color);
    box-shadow: 5px 5px 5px var(--text-light);
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    background-color: var(--secondary-color);
    text-align: center;
}

.gallery {
    justify-self: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 2px;
    margin: 0;
}

.menu {
    display: none;
}

.show {
    display: block;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, .6);
}

dialog {
    width: 90%;
    height: 100%;
    border: none;
    padding: 0;
    background: transparent;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin-top: 200px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    
}

.modal-content img {
    max-width: 100%;
    max-height: auto;
    border: none;
    box-shadow: none;
}

.modal-img {
    width: 350px;
    height: 100%;
    object-fit: contain; 
  }

.close-viewer {
    position: absolute;      
    right: -30px; 
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1.5rem;
    border-radius: 4px;
    z-index: 1;
}

@media screen and (min-width: 700px) {
    .menu {
        display: none;
    }
    h2{
        margin-bottom: -10px;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
    }
    .modal-img {
        width: 400px;
    }
    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    footer p {
        grid-column: 1/2;
    }

}

@media screen and (min-width: 1100px) {
    h2 {
        display: none;
    }
    .menu {
        display: block;
    }
    nav a {
        padding: 20px;
        margin: 40px;
        display: inline;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
    }
    .modal-img {
        width: 500px;
    }
}

