
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
    --primary-color: #F9F7F0;
    --secondary-color: #314769;
    --accent-color: #748CAB;
    --heading: #577695;
    --primary-font: 'Short Stack', 'Georgia', 'Sans-serif';
    --secondary-font: Mooli, san-serif;
    }

#content {
    max-width: 1500px;
    justify-self: center;
}

.skiptocontent > a {
	position: absolute;
	margin-top: -100px;
	background-color: white;
}
.skiptocontent > a:focus {
	margin-top: -20px;
}

nav {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.main_nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    list-style-type: none;
}

.main_nav li {
    margin-right: 60px;
}

ul li a {
    text-decoration: none;
}

a {
    color: var(--secondary-color);
    font-size: 1.1em;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

h1 {
    margin: 50px;
    text-align: center;
    color: var(--heading);
}

#main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#shelf {
    display: grid;
    gap: 30px; 
    padding: 20px;
}

.book_cover {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.book {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book_title {
    color: var(--heading);
    padding-top: 10px;
    text-align: center;
}

#filter_form {
    border: solid 1px var(--accent-color);
    margin: 30px;
}

.review {
    border-right: solid 1px var(--accent-color);
    margin: 50px;
    text-align: right;
    padding: 10px;
}
